<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Insert title here</title>
</head>
<body>

<h1>potato links are better than potato chips</h1>

<p>I like {{ variety }} potatoes</p>
<p>you should cook these at {{ temperature }} degrees</p>

<form action="survey">
	What Kind of potato do you like?
	<select name="answer">
		<option>Russet</option>
		<option>Sweet</option>
		<option>New</option>
		<option>Golden</option>

	</select>
	<button>Submit your answer here</button>
</form>



</body>
</html>