<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Potato Survey</title>
</head>
<body>

<h1>Potato links are better than potato chips</h1>

<p>I like {{ variety }} potatoes</p>
<p>you should cook these at {{ temperature }} degrees</p>

<img src="{{arbitraryImage }}">

<form action="survey">
	<br>
	What kind of potato do you like?
	<br> 
	<br>
	<select name="answer">
		<option>Russet</option>
		<option>Sweet</option>
		<option>New</option>
		<option>Golden</option>
	
	</select>
	<br>
	<br>
	<button>Submit your answer here</button>
</form>



</body>
</html>